iframe{
	width:80%;
	height:480px;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('./data/bk1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("./data/bk3.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("./data/bk2.jpg");
  min-height: 400px;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

p {
	text-align: justify;
	text-justify: inter-word;
}

h4 {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.center {
	display: block;
	margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  }

#bombardier{
  max-width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.twitter-tweet{
  max-width: 25vw;
  margin: auto;
}

.table{
  margin: auto;
  max-width: 20vw;
  margin-bottom: 3vh;
}

.table-center {
  text-align: center;
}